<!DOCTYPE html>

<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand"> Resume</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/addperson">Add a new person</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/addskill">Add Skill</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addeducation">Add Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addwork">Add Work Experinc </a>
                </li>
                <!-- <li class="nav-item">
                     <a class="nav-link" href="/addwork">Add Work Experince</a>
                 </li>-->
            </ul>
        </div>
    </nav>
</div>




<div th:each="eachPerson:${allpersons}">
    <p th:text="${eachPerson.fullName}"></p>
    <p th:text="${eachPerson.lastName}"></p>
    <p th:text="${eachPerson.emailAddress}"></p>
    <p th:text="${eachPerson.phoneNumber}"></p>

    <div th:each="eachWorks:${eachPerson.myWorks}">

        <p th:text="${eachWorks.jobTitle}"></p>
        <p th:text="${eachWorks.organization}"></p>
    </div>

    <div th:each="eachSkills:${eachPerson.mySkills}">

        <p th:text="${eachSkills.skill}"></p>

        <p th:text="${eachSkills.perficiency}"></p>
    </div>

    <div th:each="eachEducations:${eachPerson.myEducations}">

        <p th:text="${eachEducations.degree}"></p>
        <p th:text="${eachEducations.institution}"></p>
    </div>


</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>